<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="backToHome()" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{deliveryPersonData?.delivery_person_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" class="ion-text-center" *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading">
      <ion-col size="12">
        <ion-list>
          <ion-row>
            <ion-col size="8">
              <ion-item lines="none">
                <p>Id: {{deliveryPersonData?.delivery_person_id}}</p>
              </ion-item>
              <ion-item lines="none">
                <p>Name: {{deliveryPersonData?.delivery_person_name}}</p>
              </ion-item>
            </ion-col>
            <ion-col size="4" style="border:1px dotted">
              <img *ngIf="deliveryPersonData?.image_url" [src]="deliveryPersonData?.image_url" onError="this.src='assets/images/default_image.jpg';"
              />
              <ion-img *ngIf="!deliveryPersonData?.image_url" src="assets/images/default_image.jpg"></ion-img>
            </ion-col>
          </ion-row>
          <ion-item>
            <p>Email: {{deliveryPersonData?.email}}</p>
          </ion-item>
          <ion-item>
            <p>Phone Number: {{deliveryPersonData?.phone}}</p>
          </ion-item>
          <ion-item>
            <p>Aadhar Number: {{deliveryPersonData?.aadhar_number}}</p>
          </ion-item>
          <ion-item>
            <p>PAN Number: {{deliveryPersonData?.pan_number}}</p>
          </ion-item>
          <!-- <ion-item>
            <p>{{deliveryPersonData?.available == 1 ? 'Available' : 'Not Available'}}</p>
          </ion-item> -->
          <ion-item>
            <p>Registration Date: {{deliveryPersonData?.registration_date}}</p>
          </ion-item>
          <ion-item>
            <p>Rating: {{deliveryPersonData?.rating}}</p>
          </ion-item>
          <!-- <ion-item>
            <p>{{deliveryPersonData?.status == 1 ? 'Enabled':'Disabled' }}</p>
          </ion-item> -->
        </ion-list>
      </ion-col>
      <!-- <ion-col size="2">
    
          </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>